[Desktop Entry]
Name=Eclipse c++
Comment=Eclipse IDE
Exec=env UBUNTU_MENUPROXY=0 SWT_GTK3=0 /home/sunbeam/subuntu2020/Eclipse/CPP/eclipse-cpp-photon-R-linux-gtk-x86_64/eclipse/eclipse
Icon=/home/sunbeam/subuntu2020/Eclipse/CPP/eclipse-cpp-photon-R-linux-gtk-x86_64/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=IDE;Application

